@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
    --Red: hsl(0, 100%, 68%);
    --white: #fff;

    --fontSize: 1.125rem;

    --regular : 400;
    --bold : 700;

    --ff-barlow:'Barlow', sans-serif;
    --ff-barlowed-cond: 'Barlow Condensed', sans-serif;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {overflow: hidden;}

body::after {
    content: '';
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 100px;
    background-color: var(--Light-Grayish-Blue);
}

h1,h2,h3,p {
    margin: 0;
    line-height: 1;
}

h1 {font-size: 4.5rem;}

h3 span {
    letter-spacing: 0;
    padding: .3rem 1rem;
    border-radius: 3.2rem;
    margin-inline-end: .6rem;
}

p {
    text-transform: lowercase;
    font-size: 1.4em;
}

img {
    max-width: 100%;
    display: block;
}

a {text-decoration: none;}

/* utility classes */

.flex {
    display: flex;
    align-items: center;
    gap: var(--gap , 1rem);
    
}

.flex-2 {
    display: flex;
    flex-direction: column; 
    margin-top: 100px;
    gap: var(--gap , 1rem);
}


.container {
    max-width: 100%;
    width: 75rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}

/* Header and Navigation */
.primary-header {justify-content: space-between;}
.nav {margin-block: 2.5rem;}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    --gap: 2rem;
    font-weight: var(--bold);
}

.nav-items:last-child {
    position: relative;
    margin-left: 2rem;
}

.primary-navigation .nav-items:last-child:before {
    width: .4rem;
    border-radius: 50%;
    height: .4rem;
    position: absolute;
    content: '';
    background-color: var(--Grayish-Blue);
    top: 50%;
    left: 0;
    opacity: 0.6;
    transform: translate(-2.5rem, -50% );
}
.nav-toggle , .btn-span {display: none;}

/* utility colors */
 
.bg-white {background-color: var(--white);}
.txt-white {color: var(--white);}
.bg-light-grey {background-color: var(--Light-Grayish-Blue);}
.bg-red {background-color: var(--Red);}
.bg--dark-blue {background-color: var(--Very-Dark-Blue);}
.txt-dark-blue {color: var(--Very-Dark-Blue);}
.txt-grayish-blue {color: var(--Grayish-Blue);}
.txt-dark-grayish-blue {color: var(--Dark-Grayish-Blue);}

/* utility typography */
.fs {font-size: var(--fontSize);}
.fs-h3 {font-size: 1.2em;}

.ff-barlow {font-family: var(--ff-barlow);}
.ff-barlowed-cond {font-family: var(--ff-barlowed-cond);}

.uppercase {text-transform: uppercase;}

.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2px;}

.fw-regular {font-weight: var(--regular);}
.fw-bold {font-weight: var(--bold);}

.container > div {flex: 1;}
main {height: calc(100vh - 9.3rem);}

button {
    padding: 1rem 2rem;
    border-radius: .3em;
    border: none;
    cursor: pointer;
    margin-inline-end: .4rem;
}

.illustration-devices {transform: scale(1.5) translateX(20%);}

@media screen and (max-width: 768px){
    body {font-size: 1em;}
    .container{flex-direction: column-reverse;}
    h1 {font-size: 2.5rem;}
    h3 {font-size: 1rem;}
    .flex-2 {margin-top: 3.2rem;}

    .illustration-devices {
        transform: scale(1.1) translateX(0%);
        margin: 6.2rem 0 3.2rem;
    }

    .primary-navigation {
        position: fixed;
        background-color: var(--white);
        box-shadow: 0 .4rem  .62rem rgba(0, 0, 0, .1);
        flex-direction: column;
        padding: 1em;
        top: 4.4rem;
        left: 1.25rem;
        z-index: 100;
        width: calc(100% - 2.5rem);
        transform: translateX(120%);
        transition: transform 0.5s ease-in-out;
    }

    .primary-navigation .nav-items {
        margin: .4rem 0;
        text-align: center;
    }

    .primary-navigation .nav-items:last-child {margin: 2.5rem 0 1.25rem;}

    .primary-navigation .nav-items:last-child:before {
        width: 100%;
        height: 1px;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: translate(0, -1.5rem );
    }
    
    .primary-navigation[data-visible="true"] {transform: translateX(0%);}

    .nav-toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        aspect-ratio: 1;
        border: none;
        background: transparent url(../images/icon-hamburger.svg) center no-repeat;
    }
    
    .nav-toggle[aria-expanded="true"] {background: url(../images/icon-close.svg) center no-repeat;}
    .primary-navigation .nav-items .nav-links {font-size: 1.5rem;}
}